appdirs==1.4.3
astroid==2.4.0
attrs==19.3.0
beautifulsoup4==4.9.0
black==21.7b0
blinker==1.4
certifi==2020.4.5.1
cffi==1.14.0
click==7.1.2
feedparser==5.2.1
feedreader==0.3.1
Flask==1.1.2
Flask-Misaka==1.0.0
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.3
lazy-object-proxy==1.4.3
lxml==4.6.3
MarkupSafe==1.1.1
mccabe==0.6.1
misaka==2.1.1
mypy-extensions==0.4.3
pathspec==0.9.0
pycparser==2.20
pylint==2.5.0
python-dateutil==2.8.1
regex==2020.4.4
sentry-sdk==0.14.3
six==1.14.0
soupsieve==2.0
toml==0.10.0
tomli==1.2.1
typed-ast==1.4.1
urllib3==1.26.5
Werkzeug==1.0.1
wrapt==1.12.1
