#internship-list {
  list-style-type: none;
  padding-left: 1em;
  color: black;
  font-family: "Vollkorn", serif;
}

#internship-list > li section a {
  text-decoration: none;
  margin-left: 1em;
  color: #0000df;
  /* font-family: "Noto Serif", serif; */
}

.internship-name {
  font-size: large;
  margin-bottom: 0em;
}

.internship-company {
  margin-top: 0px;
  margin-bottom: 0px;
  font-style: italic;
  color: rgba(0, 0, 0, 0.6);
  margin-left: 1em;
}

.internship-project_name {
  margin-top: 0px;
  margin-left: 1em;
  margin-bottom: 0px;
  font-style: italic;
  color: rgba(0, 0, 0, 0.6);
}

.internship-description {
  margin-top: 0px;
  font-size: 1em;
  margin-left: 1em;
}

.internship-project_time {
  margin-top: 0px;
  margin-left: 1em;
  font-style: italic;
  color: rgba(0, 0, 0, 0.6);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
