.nav-element{
    text-decoration: none;
    padding-right: 0.5em;
    padding-left: 0.5em;
    color: #541c13;
    font-family: 'Noto Serif', serif;
    font-size: calc(1em + 1vw);
}

#nav-list{
    list-style-type: none;
    text-align: right;
}

#vertical-nav{
    display: flex;
    position: sticky;
    top: 10vh;
    margin-top: 10vw;
    margin-left: 10vw;
}

@media (max-width: 600px){
    #vertical-nav{
        margin-left: 0;
    }
}

@media (max-width: 1000px) and (min-width: 600px){
    #vertical-nav{
        margin-left: 5vw;
    }
}