.nav-element{
    text-decoration: none;
    list-style-type: none;
    padding: 0.5em;
    color: #541c13;
    font-family: 'Noto Serif', serif;
    font-size: x-large;
}

#nav-list{
    list-style-type: none;
    text-align: right;
    float: left;
}

#vertical-nav{
    position: sticky;
}