#project-list {
  list-style-type: none;
  padding-left: 1em;
  color: black;
  font-family: "Vollkorn", serif;
}

#project-list > li section a {
  text-decoration: none;
  margin-left: 1em;
  color: #0000df;
  /* font-family: "Noto Serif", serif; */
}

#project-list > li section i {
  padding-left: 1.5em;
  background-size: 1em;
}

.project-name {
  font-size: large;
  margin-bottom: 0.5em;
}

.project-description {
  font-style: italic;
  margin-top: 0px;
  font-size: 1.2em;
  margin-left: 1em;
}

.project-tags {
  color: rgba(0, 0, 0, 0.3);
  margin-left: 1em;
}

.github-icon {
  background: url(/static/icons/github.svg) center left no-repeat;
}

.link-icon {
  background: url(/static/icons/link-solid.svg) center left no-repeat;
}
