#project-list {
  list-style-type: none;
  padding-left: 1em;
  color: black;
  font-family: "Vollkorn", serif;
}

#project-list > li section a {
  text-decoration: none;
  /*   margin-left: 1em; */
  color: #0000df;
  /* font-family: "Noto Serif", serif; */
}

#project-list > li section i {
  padding-left: 1.5em;
  background-size: 1em;
}

.project-name {
  font-size: large;
  margin-bottom: 0.2em;
}

.project-mentor {
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3),
    0px -1px 0px rgba(0, 0, 0, 0.7);
  color: rgba(0, 0, 0, 0.3);
  margin: 0 0 0 1em;
  padding: 0;
  font-style: oblique;
}

.project-description ul {
  /* font-style: oblique; */
  margin-top: 0px;
  font-size: 1.1em;
  margin-left: 0;
}

.project-tags {
  color: rgba(0, 0, 0, 0.3);
  margin-left: 1em;
}

.github-icon {
  background: url(/static/icons/github.svg) center left no-repeat;
}

.link-icon {
  background: url(/static/icons/link-solid.svg) center left no-repeat;
}

@media (max-width: 660px) {
  #project-list {
    padding-left: 0;
  }
}
