#work-list {
  list-style-type: none;
  padding-left: 1em;
  color: black;
  font-family: "Vollkorn", serif;
}

#work-list > li section a {
  text-decoration: none;
  /*   margin-left: 1em; */
  color: #0000df;
  /* font-family: "Noto Serif", serif; */
}

.work-name {
  font-size: large;
  margin-bottom: 0em;
}

.work-division {
  margin-top: 0px;
  margin-bottom: 0px;
  font-style: italic;
  color: rgba(0, 0, 0, 0.6);
  margin-left: 0.5em;
}

.work-description {
  margin-top: 0.5em;
  font-size: 1.2em;
  margin-left: 0em;
}

.work-project_time {
  margin-top: 0px;
  margin-left: 0.5em;
  margin-bottom: 0;
  font-style: italic;
  color: rgba(0, 0, 0, 0.6);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.work-description ul {
  padding-left: 1em;
}

.work-description ul li {
  list-style-type: disc;
  font-size: 0.85em;
}

@media (max-width: 820px) {
  #work-list {
    padding-left: 0;
  }
}
