<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Ode to a rogue qubit</title>
    <meta name="description" content="My misadventures as I try to measure a qubit." />
    <meta name="viewport" content="width=device-width, initial-scale = 1.0" />
    <link rel=" preload" href="static/css/quantum.css" as="style" onload="this.onload=null;">
    <link rel="stylesheet" href="static/css/quantum.css" />
    <link rel="shortcut icon" type="image/png" href="static/icons/zeroket.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="canonical" href="https://harshitgarg.in/quantum">
</head>

<body>
    <header id="quantum-banner">
        <span id="quantum-banner-text">/quantum</span>
    </header>
    <div class="spacer">&nbsp;</div>
    <div id="container">
        <nav class="left">
            <ul>
                <li><a href="#projects">projects</a></li>
                <li><a href="#work">work</a></li>
                <li><a href="#updates">updates</a></li>
            </ul>
        </nav>
        <div class="center">
            <article>
                <section>
                    <h1 id="#projects">projects</h1>
                    <hr>
                    <div>
                        {% for project in projects %}
                        <h2 class="project-name">{{ project.name }}</h2>
                        <div class="project-content">
                            {% if "duration" in project %}
                            <p class="project-duration">{{ project.dateStart }} - {{ project.dateEnd }}</p>
                            {% endif %}
                            <div class="project-description">{{ project.description | markdown }}</div>
                            <div class="project-links">
                                {% if "github" in project %}
                                <span class="github-link"><a href="{{ project.github }}"><i class="fa fa-github"
                                            style="color: black; margin-right: 5px;"></i>GitHub</a></span>
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </section>
                <section>
                    <h1 id="#work">work</h1>
                    <hr>
                    <div id="work-list">
                        {% for work in works %}
                        <h2 class="work-name">{{ work.name }}</h2>
                        <div class="work-content">
                            <p class="work-company">at {{ work.company }}</p>
                            <p class="work-duration">{{ work.dateStart }} - {{ work.dateEnd }}</p>
                            <div class="work-description">{{ work.description | markdown }}</div>
                        </div>
                        {% endfor %}
                    </div>
                </section>
                <section>
                    <h1 id="#updates">updates</h1>
                    <hr>
                    <div id="update-list">
                        <ul>
                            {% for update in updates %}
                            <li><span class="update-date">{{ update.date }} </span><span
                                    class="update-description">{{update.description | markdown}}</span>{% if "link" in update %}
                                <span class="update-link"><a href="{{update.link}}">Link.</a></span>
                                {% endif %}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </section>
            </article>
        </div>
        <div class="right">
            <div id="skills">
                <span>I have worked with </span>
                <ul id="skills_list">
                    <li><a href="{{url_for('qiskit')}}">qiskit</a></li>
                    <li><a href="{{url_for('qsharp')}}">Q#</a></li>
                    <!-- <li><a href="">Quant Distr Networks</a></li> -->
                </ul>
            </div>
            <br />
            <div>
                <span>..and have taken courses relating</span>
                <div id="course-list">
                    <ul>
                        <li>Linear Algebra</li>
                        <li>Complex Analysis</li>
                        <li>Quantum Info & Comp</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <br /><br /><br />
    <footer style="background-color: black;">
        Handcrafted with <i class="fa fa-heart pulse" style="color: #E90606"></i> and qubits
        <p>
        <div id="footer-icons">
            <a href="https://github.com/harshitgarg22"><i class="fa fa-github fa-lg footer-icon" alt="github"></i></a>
            <a href="mailto:hg1229@gmail.com"><i class="fa fa-envelope fa-lg footer-icon" alt="mail"></i></a>
        </div>
        </p>
    </footer>
</body>

</html>