<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Ode of a rogue qubit</title>
    <meta name="description" content="My misadventures as I try to measure a qubit." />
    <meta name="viewport" content="width=device-width, initial-scale = 1.0" />
    <link rel=" preload" href="static/css/quantum.css" as="style" onload="this.onload=null;">
    <link rel="stylesheet" href="static/css/quantum.css" />
    <link rel="shortcut icon" type="image/png" href="static/icons/zeroket.png" />

</head>

<body>
    <header id="quantum-banner">
        <span id="quantum-banner-text">/quantum</span>
    </header>
    <div class="spacer">&nbsp;</div>
    <div id="container">
        <nav class="left">
            <ul>
                <li><a href="#projects">projects</a></li>
                <li><a href="#work">work</a></li>
                <li><a href="#updates">updates</a></li>
            </ul>
        </nav>
        <div class="center">
            <article>
                <section>
                    <h1 id="#projects">projects</h1>
                    <hr>
                </section>
                <section>
                    <h1 id="#work">work</h1>
                    <hr>
                    <div id="work-list">
                        {% for work in works %}
                        <h2 class="work-name">{{ work.name }}</h2>
                        <div class="work-content">
                            <p class="work-company">at {{ work.company }}</p>
                            <p class="work-duration">{{ work.dateStart }} - {{ work.dateEnd }}</p>
                            <div class="work-description">{{ work.description | markdown }}</div>
                        </div>
                        {% endfor %}
                    </div>
                </section>
                <section>
                    <h1 id="#updates">updates</h1>
                    <hr>
                </section>
            </article>
        </div>
        <div class="right">
            <div id="skills">
                <span>I have worked with </span>
                <ul id="skills_list">
                    <li><a href="{{url_for('qiskit')}}">qiskit</a></li>
                    <li><a href="{{url_for('qsharp')}}">Q#</a></li>
                    <li><a href="">Quant Distr Networks</a></li>
                </ul>
            </div>
            <br />
            <div>
                <span>..and have taken courses relating</span>
                <div id="course-list">
                    <ul>
                        <li>Linear Algebra</li>
                        <li>Complex Analysis</li>
                        <li>Quantum Info & Comp</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>

</html>