<!DOCTYPE html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Harshit Garg</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="static/css/nav.css">
  <link rel="stylesheet" href="static/css/index.css">
  <link href="https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap" rel="stylesheet">
</head>

<body>

  <nav id="vertical-nav">
    <ul id="nav-list">
      <li><a href="#me" onclick="javascript:;" class="nav-element">me</a></li>
      <li><a href="#projects" onclick="javascript:;" class="nav-element">projects</a></li>
    </ul>
  </nav>

  <article>
    <div id="hello_world">print("Hello World!")</div>
  </article>
</body>

</html>