<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Harshit Garg</title>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="static/css/nav.css" />
  <link rel="stylesheet" href="static/css/index.css" />
  <link rel="stylesheet" href="static/css/greetings.css" />
  <link rel="stylesheet" href="static/css/projects.css" />
  <link rel="stylesheet" href="static/css/films.css" />
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Vollkorn:ital@0;1&display=swap" rel="stylesheet" />
</head>

<body onload="displayGreetings(greetings)">
  <nav id="vertical-nav">
    <ul id="nav-list">
      <li>
        <a href="#me" onclick="javascript:;" class="nav-element">me</a>
      </li>
      <li>
        <a href="#projects" onclick="javascript:;" class="nav-element">projects</a>
      </li>
      <li>
        <a href="#internships" onclick="javascript:;" class="nav-element">internships</a>
      </li>
      <!-- <li>
        <a href="#books" onclick="javascript:;" class="nav-element">books</a>
      </li> -->
      <li>
        <a href="#films" onclick="javascript:;" class="nav-element">films</a>
      </li>
    </ul>
    <ul id="social-list">
      <li></li>
    </ul>
  </nav>
  <div id="main-content">
    <div id="greetings">
      <!-- <div id="greetings-header">&NonBreakingSpace;</div> -->
      <div id="greetings-command">
        <div id="greetings-command-prefix">print(</div>
        <div id="greetings-command-display">Hello World</div>
        <div id="greetings-command-suffix">)</div>
      </div>
      <div id="greetings-language">python</div>
    </div>
    <article id="article-content">
      <section name="me">
        <a name="me"><h1 class="sub-headings">me</h1></a>
        <hr />
        <br /><br />
        <figure id="me-figure">
          <img src="/static/images/me.jpg" alt="A photo of me circa 2019" title="A photo of me circa 2019" />
          <figcaption>
            me, <span style="font-style: italic;">circa 2019</span>
          </figcaption>
        </figure>
        <div class="description">
          Consequatur quis ipsa consequuntur sapiente sapiente in voluptatem.
          Est aspernatur veritatis rerum. Accusamus id fugit libero eos
          perspiciatis. Inventore voluptate atque omnis eos delectus.
          Exercitationem commodi beatae est. Voluptate dolorem numquam porro
          nesciunt. Odio sint cumque sequi ab veniam. Autem et aperiam id
          libero. Atque voluptates doloremque illum magni. Explicabo quo
          dignissimos amet quam eaque. Fugiat debitis laborum doloremque illo
          voluptatem dolorem esse. Voluptatibus soluta autem error et sed ex
          maxime asperiores. Odit voluptatum provident eaque aut aut sed ipsam
          omnis. Ut rerum ut qui. Ea qui culpa tempora rem itaque consequatur.
          Quia aut quae enim velit. Neque aliquam quisquam ut asperiores earum
          quia at. Sunt qui omnis sit. Eum iusto vel doloribus necessitatibus
          eos cumque voluptate. Pariatur quis autem exercitationem minus et
          aspernatur.
        </div>
      </section>
      <section name="projects">
        <br /><br />
        <a name="projects"><h1 class="sub-headings">projects</h1></a>
        <hr />
        <ul id="project-list">
          {% for project in projects %}
          <li>
            <section>
              <h1 class="project-name">
                {{project.name}}
              </h1>
              <p class="project-description">
                {{project.description}}
              </p>
              <p class="project-github">
                {% if 'github' in project %}
                <a href="{{project.github}}"><i class="github-icon"></i>GitHub</a>
                {% endif %}
              </p>
              <p class="project-link">
                {% if 'link' in project %}
                <a href="{{project.link}}"><i class="link-icon"></i>Link</a>
                {% endif %}
              </p>
              <p class="project-tags">
                tags: {% for tag in project.tags %} {{ tag }} {% endfor %}
              </p>
            </section>
          </li>
          {% endfor %}
        </ul>
      </section>
      <section name="#internships">
        <br />
        <a name="internships"><h1 class="sub-headings">internships</h1></a>
        <hr />
        <br /><br />
        <em>cough </em>PS-1<em> cough</em>
      </section>
      <!-- <section name="books">
        <br /><br />
        <h1 class="sub-headings">books</h1>
        <hr />
        <br /><br />
      </section> -->
      <br /><br />
      <section name="films">
        <a name="films">
          <h1 class="sub-headings">films</h1>
        </a>
        <hr />
        <span
          style="font-style: italic; opacity: 0.7; font-family: Volkorn, serif; margin-top: 1em; display: block;">I'm on
          letterboxd <a href="https://www.letterboxd.com/harshitgarg"
            style="text-decoration: none; color: black; font-weight: bold; opacity: 1;">@harshitgarg</a></span>
        <ul id="film-list">
          {% for film in films[:5] %}
          <li>
            <section>
              <p class='film-card'>
                <img src={{film.imgsrc}} class='film-card-image' />
                <span class="film-card-description">
                  <span><a class='film-card-title' href="{{film.link}}">{{film.title}}</a>
                    <span class="film-card-year">{{film.year}}</span></span>
                  <span class='stars'>
                    {% for count in range(film.rating|int) %}&#9733;{% endfor %}
                    {% if film.rating|float != film.rating|int %}
                    &frac12;
                    {% endif %}
                  </span>
                  <span class="film-card-watchdate">{% if film.rewatch == "No" %}Watched {% else %}Rewatched
                    {% endif %}on {{film.watcheddate|strftime}}</span>
                  <span class="film-card-review">{{film.summary}}</span>
                </span>
              </p>
            </section>
          </li>
          {% endfor %}
        </ul>
        <br /><br />
      </section>
    </article>
  </div>
</body>

<script type="text/javascript">
  greetings = {{ greetings | tojson }}
</script>
<script src="static/js/text_scramble.js"></script>
<script src="static/js/index.js"></script>

</html>