<html>

<head>
    <title>Aru</title>
</head>

<body>
    <center>
        <h1>If &#10084; could be expressed in plaintext-HTML, it'd be this.</h1>
        <figure>
            <figcaption>Saumi sitting on the sofa</figcaption><img src="/static/images/saumi-on-the-sofa.jpg"
                title="Saumi on the sofa" style="width: 10em; height: auto; display:inline-block;" />
        </figure>
        <figure>
            <figcaption>Saumi lying on the grass</figcaption><img src="/static/images/saumi-on-the-grass.jpg"
                title="Saumi on the grass" style="width: 10em; height: auto; display:inline-block;" />
        </figure>
        <footer><h3>Courtesy: Lizarus Roy</h3></footer>
    </center>
</body>

</html>